#root {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1280px;
  padding: 1rem;
  text-align: left;
}

.app {
  display: flex;
  gap: 50px;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentArea {
  height: 200px;
  border-color: blue;
  border-radius: 10px;
  border-width: 3px;
}

.triggerButton {
  margin: 0 10px;
  border: 2px solid;
  padding: 0.3em 1.5em;
}

.addMemoButton {
  padding-left: 20px;
  font-size: 20px;
}
