#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contentArea {
  height: 200px;
}

.button {
  margin: 0 10px;
}
